/* Genel Ayarlar */
body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  background-color: #1C2025;
  color: #F5F5F5;
  box-sizing: border-box;
  padding-bottom: 70px;
}

.header {
  background-color: #343A40;
  color: #FFD700;
  text-align: center;
  padding: 3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.header h1 {
  font-size: 3rem;
  margin: 0;
}

.header p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  flex-wrap: wrap;
}

.menu, .order {
  width: 45%;
  background-color: #282C34;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  margin-bottom: 2rem;
}

.menu-category h3 {
  color: #FFD700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  background-color: #343A40;
  padding: 2rem;
  border-radius: 10px;
}

.menu-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 2rem;
}

.menu-item div {
  flex: 1;
  margin-left: 2rem;
}

button {
  background-color: #FFD700;
  color: #343A40;
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FFA500;
}

.order ul {
  list-style: none;
  padding: 0;
}

.order li {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.order li button {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
}

.total {
  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: right;
}

.footer {
  text-align: center;
  padding: 2rem;
  background-color: #343A40;
  color: #FFD700;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 2.5rem;
  }
  .main-content {
    flex-direction: column;
  }
  .menu, .order {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  button {
    font-size: 1rem;
    padding: 0.8rem 1.8rem;
  }
  .menu-item img {
    width: 120px;
    height: 120px;
  }
}
